@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #18181b; /* p6bg */
  color: #e4e4e7; /* p6text */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
